#detection-area{
  height: 70vh;
  border-style: dashed;
  border-color: red;
  background-image: url('/assets/noise.jpg');
  background-size: cover;
}
#planet{
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
}
